version: "3.8"

services:
  flutter:
    build:
      context: .
      dockerfile: docker/flutter/Dockerfile
    container_name: flutter_dev
    volumes:
      - ./src:/app
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_NAME=university_app
      - DB_USER=student
      - DB_PASSWORD=password123
    depends_on:
      - db
    working_dir: /app
    tty: true

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: university_app
      POSTGRES_USER: student
      POSTGRES_PASSWORD: password123
    volumes:
      - ./docker/db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi_backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://student:password123@db:5432/university_app
      - SECRET_KEY=supersecretkey
    depends_on:
      - db
    volumes:
      - ./backend:/app

volumes:
  db_data:
